<div style="font-size: larger; width: fit-content; margin-left: auto; margin-right: auto;">
    ActivitiesRequest Authorization
</div>

<div class="container">
    <div style="padding: 1em">
        <div>
            <a target="_blank" href="/authorization/fitbit-redirect?user_id=-2">Fitbit Authorization</a>
        </div>
        <div>
            <a target="_blank" href="/authorization/withings-redirect?user_id=-2">Withings
                Authorization</a>
        </div>
    </div>
</div>
