.cycling-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-element-container {
    margin: 0.5em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.grid-element-header {
    font-weight: bold;
    font-size: 1.15em;
    overflow: clip;
    text-align: center;
}

.grid-element-content {
}