<h1>{{welcome}}</h1>
<h2 id="current_user"></h2>
<img src="/public/static/assets/image.jpg" alt="me"/>
<script src="/public/static/js/cookies/cookies.js"></script>
<script>
    document.getElementById("current_user").innerHTML = getCurrentUser();
</script>
