{{#each users}}
    <div class="user-container">
        <div class="name">
            <span>{{first_name}}</span>
            <span>{{last_name}}</span>
        </div>
        <div class="e-mail">
            <a href="mailto:{{email}}">{{username}}</a>
        </div>
    </div>
{{/each}}
